<template>

  <main class="overflow-hidden ">
    <!--Start Breadcrumb Style2-->
    <div class="breadcrumb-area" style="background-image: url(/src/assets/images/inner-pages/breadcum-bg.png);">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="breadcrumb-content pb-60 text-center wow fadeInUp animated">
              <h2>Shop Grid</h2>
              <div class="breadcrumb-menu">
                <ul>
                  <li><a href="index.html"><i class="flaticon-home pe-2"></i>Home</a></li>
                  <li><i class="flaticon-next"></i></li>
                  <li class="active">Shop Grid</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Breadcrumb Style2-->

    <!--Start product-grid-->
    <div class="product-grid pt-60 pb-120">
      <div class="container">
        <div class="row gx-4">
          <div class="col-xl-3 col-lg-4">
            <div class="shop-grid-sidebar">
              <button class="remove-sidebar d-lg-none d-block"><i
                  class="flaticon-cross"> </i></button>
              <div class="sidebar-holder">
<!--                <form action="#0" class="footer-default__subscrib-form m-0 p-0 wow fadeInUp animated">-->
<!--                  <div class="footer-input-box p-0 "><input type="email" placeholder="Email address"-->
<!--                                                            name="email">-->
<!--                    <button type="submit" class="subscribe_btn"><i-->
<!--                        class="flaticon-magnifying-glass"></i></button>-->
<!--                  </div>-->
<!--                </form>-->

                <div class="single-sidebar-box mt-30 wow fadeInUp animated">
                  <div class="slider-box">
                    <button @click.prevent="filterProducts" class="filterbtn" type="submit">Apply filter</button>
                  </div>
                </div>

                <div class="single-sidebar-box mt-30 wow fadeInUp animated ">
                  <h4>Select Categories</h4>
                  <div class="checkbox-item">
                    <form>
                      <div v-for="category in filterList.categories" class="form-group"><input :value="category.id"
                                                                                               v-model="categories"
                                                                                               type="checkbox"
                        :id="category.id"> <label
                          :for="category.id">{{ category.title }}</label></div>
                    </form>
                  </div>
                </div>
                <div class="single-sidebar-box mt-30 wow fadeInUp animated">
                  <h4>Color Option </h4>
                  <ul class="color-option">
                    <li v-for="color in filterList.colors">
                      <a @click.prevent="addColor(color.id)" :href="`#${color.id}`"
                         :style="`background: #${color.title}`" :class="{ 'apply': this.colors.includes(color.id) }" class="color-option-single">
                        <span> {{ color.title }}</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="single-sidebar-box mt-30 wow fadeInUp animated">
                  <h4>Filter By Price</h4>
                  <div class="slider-box">
                    <div id="price-range" class="slider"></div>
                    <div class="output-price"><label for="priceRange">Price:</label> <input
                        type="text" id="priceRange" readonly></div>
                  </div>
                </div>
                <div class="single-sidebar-box mt-30 wow fadeInUp animated pb-0 border-bottom-0 ">
                  <h4>Tags </h4>
                  <ul class="popular-tag">
                    <li v-for="tag in filterList.tags">
                      <a :class="{ 'apply': this.tags.includes(tag.id) }" @click.prevent="addTag(tag.id)" :href="`?tag=${tag.id}`">{{ tag.title }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-9 col-lg-8">
            <div class="row">
              <div class="col-xl-12">
                <div
                    class="shop-grid-page-top-info p-0 justify-content-md-between justify-content-center">
<!--                  <div class="left-box wow fadeInUp animated">-->
<!--                    <p>Showing 1–12 of 50 Results</p>-->
<!--                  </div>-->
<!--                  <div-->
<!--                      class="right-box justify-content-md-between justify-content-center wow fadeInUp animated">-->
<!--                    <div class="short-by">-->
<!--                      <div class="select-box">-->
<!--                        <select class="wide">-->
<!--                          <option data-display="Short by latest">Featured</option>-->
<!--                          <option value="1">Best selling</option>-->
<!--                          <option value="2">Alphabetically, A-Z</option>-->
<!--                          <option value="3">Alphabetically, Z-A</option>-->
<!--                          <option value="price_asc">Price, low to high</option>-->
<!--                          <option value="price_desc">Price, high to low</option>-->
<!--                          <option value="6">Date, old to new</option>-->
<!--                        </select>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-grid" role="tabpanel"
                       aria-labelledby="pills-grid-tab">
                    <div class="row">
                      <div v-for="product in products" class="col-xl-4 col-lg-6 col-6 ">
                        <div class="products-three-single w-100  mt-30">
                          <div class="products-three-single-img">
                            <a
                              @click="getProduct(product.id)"
                              :href="`#popup${product.id}`" class="d-block popup_link"> <img
                              :src="product.image_url"
                              class="first-img" alt=""/> <img
                              src="/src/assets/images/home-three/productss2-hover-1.png"
                              alt="" class="hover-img"/>
                          </a>
                            <div class="products-grid-one__badge-box"> <span
                                class="bg_base badge new ">New</span>
                            </div>
                            <a href="cart.html" @click.prevent="addToCard(product, true)" class="addcart btn--primary style2">
                              Add To Cart </a>
                            <div class="products-grid__usefull-links">
                              <ul>

                              </ul>
                            </div>
                          </div>
                          <div :id="`popup${product.id}`" class="product-gird__quick-view-popup mfp-hide">
                            <div v-if="popupProduct" class="container">
                              <div class="row justify-content-between align-items-center">
                                <div class="col-lg-6">
                                  <div class="quick-view__left-content" v-if="popupProduct.image_url">
                                    <div class="tabs">
                                      <div class="popup-product-thumb-box">
                                        <ul>
                                          <li v-for="productImage in popupProduct.images"
                                              class="tab-nav popup-product-thumb ">
                                            <a :href="`#tabb${popupProduct.id}`">
                                              <img :src="productImage.url"
                                                   alt=""/> </a></li>
                                        </ul>
                                      </div>
                                      <div class="popup-product-main-image-box">
                                        <div  :id="`tabb${popupProduct.id}`"
                                             class="tab-item popup-product-image">
                                          <div class="popup-product-single-image">
                                            <img :src="popupProduct.image_url"
                                                 alt=""/></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="popup-right-content">
                                    <h3>{{ popupProduct.title }}</h3>
                                    <div class="ratting"><i
                                        class="flaticon-star"></i> <i
                                        class="flaticon-star"></i> <i
                                        class="flaticon-star"></i>
                                      <i class="flaticon-star"></i> <i
                                          class="flaticon-star"></i>
                                      <span>(112)</span></div>
                                    <p class="text">{{ popupProduct.description }}</p>
                                    <div class="price">
                                      <h2> ${{ Math.ceil(popupProduct.price * 0.87 / 100) * 100 - 1 }} USD
                                        <del> ${{ popupProduct.price }} USD</del>
                                      </h2>
                                      <h6> In stuck</h6>
                                    </div>
                                    <div class="color-varient">
                                      <template v-for="groupProduct in popupProduct.groups_products">
                                        <a v-for="color in groupProduct.colors"
                                           @click.prevent="getProduct(groupProduct.id)" href="#0"
                                           :style="`background: #${color.title} `" class="color-name">
                                          <span>#{{ color.title }}</span>
                                        </a>
                                      </template>
                                    </div>
                                    <div class="add-product">
                                      <h6>Qty:</h6>
                                      <div class="button-group">
                                        <div class="qtySelector text-center">
                                                                                    <span class="decreaseQty"><i
                                                                                        class="flaticon-minus"></i>
                                                                                    </span> <input type="number"
                                                                                                   class="qtyValue"
                                                                                                   value="1"/>
                                          <span class="increaseQty"> <i
                                              class="flaticon-plus"></i>
                                                                                    </span></div>
                                        <button @click.prevent="addToCard(popupProduct)" class="btn--primary "> Add to
                                          Cart
                                        </button>
                                      </div>
                                    </div>
                                    <div class="payment-method"><a href="#0"> <img
                                        src="/src/assets/images/payment_method/method_1.png"
                                        alt=""> </a>
                                      <a href="#0"> <img
                                          src="/src/assets/images/payment_method/method_2.png"
                                          alt=""> </a> <a href="#0"> <img
                                          src="/src/assets/images/payment_method/method_3.png"
                                          alt=""> </a>
                                      <a href="#0"> <img
                                          src="/src/assets/images/payment_method/method_4.png"
                                          alt=""> </a></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="products-three-single-content text-center"> <span>Men
                                                            Shoes</span>
                            <h5><router-link :to="{name: 'products.show', params: {id: product.id}}"> {{ product.title }} </router-link>
                            </h5>
                            <p>
                              <del>${{ product.price }}</del>
                              ${{ Math.ceil(product.price * 0.87 / 100) * 100 - 1 }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="pagination.last_page > 1" class="row">
              <div class="col-12 d-flex justify-content-center wow fadeInUp animated">
                <ul class="pagination text-center">
                  <li v-if="pagination.current_page !== 1" class="next">
                    <a @click.prevent="getProducts(pagination.current_page - 1)" href="#0">
                      <i class="flaticon-left-arrow"
                         aria-hidden="true">
                      </i>
                    </a>
                  </li>
                  <li v-for="link in pagination.links">
                    <template v-if="Number(link.label) &&
                    (pagination.current_page - link.label < 2 &&
                    pagination.current_page - link.label > -2) ||
                    Number(link.label) === 1 || Number(link.label) === pagination.last_page
">
                      <a @click.prevent="getProducts(link.label)"
                         :class="link.active ? 'active' : ''">{{ link.label }}</a>
                    </template>
                    <template v-if="Number(link.label) &&
                       pagination.current_page !== 3 &&
                       (pagination.current_page - link.label === 2) ||
                       Number(link.label) &&
                       pagination.current_page !== pagination.last_page - 2 &&
                       (pagination.current_page - link.label === -2)">
                      <a>...
                      </a>
                    </template>
                  </li>

                  <li v-if="pagination.current_page !== pagination.last_page" class="next">
                    <a @click.prevent="getProducts(pagination.current_page + 1)" href="#0">
                      <i class="flaticon-next-1"
                         aria-hidden="true">
                      </i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End product-grid-->
  </main>

</template>
<script>

export default {
  name: 'Index',
  mounted() {
    $(document).trigger('changed');
    this.getProducts();
    this.getFilterList();
  },

  data() {
    return {
      products: [],
      popupProduct: null,
      filterList: [],
      categories: [],
      colors: [],
      prices: [],
      tags: [],
      pagination: [],
    }
  },

  methods: {

    addToCard(product, isSingle) {

      let qty = isSingle ? 1 : $('.qtyValue').val()
      let cart = localStorage.getItem('cart')

      let newProduct = [
        {
          'id': product.id,
          'image_url': product.image_url,
          'title': product.title,
          'price': product.price,
          'qty': qty
        }
      ]

      if(!cart) {
        localStorage.setItem('cart', JSON.stringify(newProduct));
      } else {
        cart = JSON.parse(cart)
        console.log(cart)
        cart.forEach(productInCart => {
          console.log(productInCart.id+' : '+ product.id)
          if(productInCart.id === product.id) {
            productInCart.qty = Number(productInCart.qty) + Number(qty)
            newProduct = null
          }
        })
        Array.prototype.push.apply(cart, newProduct)
        // cart.push(newProduct)
        console.log(cart)
        localStorage.setItem('cart', JSON.stringify(cart))
      }

    },

    filterProducts() {
      let prices = $('#priceRange').val()
      this.prices = prices.replace(/[\s+]|[$]/g, '').split('-');
      console.log(prices);

      this.getProducts()

    },
    addColor(id) {
      if (!this.colors.includes(id)) {
        this.colors.push(id)
      } else {
        this.colors = this.colors.filter(elem => {
          return elem !== id
        })
      }
    },
    addTag(id) {
      if (!this.tags.includes(id)) {
        this.tags.push(id)
      } else {
        this.tags = this.tags.filter(elem => {
          return elem !== id
        })
      }
    },
    getProducts(page = 1) {
      this.axios.post('http://185.247.185.200/api/products', {
        'categories': this.categories,
        'colors': this.colors,
        'prices': this.prices,
        'tags': this.tags,
        'page': page,
      })
          .then(res => {
            this.pagination = res.data.meta
            console.log(res);
            this.products = res.data.data;
          })
          .finally(v => {
            $(document).trigger('changed')
          })
    },
    getProduct(id) {
      this.axios.get(`http://185.247.185.200/api/products/${id}`)
          .then(res => {
            this.popupProduct = res.data.data
          })
          .finally(v => {
            $(document).trigger('changed')
          })
    },
    getFilterList() {
      this.axios.get(`http://185.247.185.200/api/products/filters`)
          .then(res => {
            console.log(res);
            this.filterList = res.data

            //  Price Filter
            if ($("#price-range").length) {
              $("#price-range").slider({
                range: true,
                min: res.data.price.min,
                max: res.data.price.max,
                values: [res.data.price.min, res.data.price.max],
                slide: function (event, ui) {
                  $("#priceRange").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
              });
              $("#priceRange").val("$" + $("#price-range").slider("values", 0) + " - $" + $("#price-range").slider("values", 1));
            }
            ;

          })
          .finally(v => {
            $(document).trigger('changed')
          })
    }
  }
}
</script>

<style>

</style>
